* {
	margin: 0;
	background: rgb(255, 0, 60);
	font-family: sans-serif;
	font-weight: bold;
}

::selection {
	background: none;
}

body {
	top: 0;
	overflow: hidden;
	font-size: 13pt;
	line-height: 16pt;
}

a.title {
	position: fixed;
	z-index: 3;
	position: absolute;
	padding-left: 30px;
	width: 100%;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a#play {
	z-index: 3;
	position: fixed;
	right: 30px;
	background: none;
}

.img img{
	z-index: 1;
	position: fixed;
	top: 32px;
	left: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

#abstract {
	z-index: 2;
	position: fixed;
	padding: 60px 2px 2px;
	width: 35%;
	display: none;
}

[id^='nota'] {
	text-decoration: underline;
	font-family: serif;
	font-weight: normal;
	font-size: 11pt;
	line-height: 10pt;
	background: white;
	display: none;
}

.nm {
	background: white;
}

.nm:hover {
	cursor: pointer;
	background: black;
}

.italico {
	font-family: serif;
	font-weight: normal;
	font-size: 11pt;
	line-height: 10pt;
	background: white;
	font-style: italic;
}

.italicoSans {
	font-style: italic;
	background: none;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1400px) {
	#abstract {
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 6pt;
		line-height: 8pt;
	}
	
	a {
		font-size: 6pt;
	}

	a:hover {
		text-decoration: none;
	}

	a#play {
		position: absolute;
		left: 0px;
		bottom: 0px;
		height: 30px;
		width: 100%;
		padding-left: 30px;
		background: rgb(255, 0, 60);
	}

	#abstract {
		width: 100%;
		overflow-y: scroll;
		height: 60%;
		padding-bottom: 500px;
	}
	 
	.img img {
		top: 28px;
	}

	[id^='nota'] {
		font-size: 9pt;
		line-height: 3pt;
	}

	.italico {
		font-size: 9pt;
		line-height: 3pt;
	}

	.nm:hover {
		background: white;
	}
}
